---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import PortfolioGrid from '../components/PortfolioGrid.astro';
import TestimonialSlider from '../components/TestimonialSlider.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Startseite">
  <main>
    <Hero />
    <About />
    <PortfolioGrid />
    <TestimonialSlider />
    <ContactSection />
  </main>
</Layout>